body {
    font-family: Arial, sans-serif;
    background-color: #063aa9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: rgb(12, 223, 242);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4c99af;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0670d3;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  p {
    font-family: monospace;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 4px;
  }